body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

html,
body {
  height: 100%;
}

.help-block {
  color: #a94442 !important;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.UserSurveysPage {
  margin-top: 20px;
}

.SurveyList ul {
  margin: 10px 0;
  display: flex;
  flex-flow: row wrap;
}

.SurveyItem {
  border: 1px solid silver;
  line-height: 1.5em;
  margin: 15px 0;
  text-align: center;
  background-color: #fff;
}

.SurveyItem a {
  display: block;
  padding: 10px;
}

.SurveyPage {
  margin-top: 30px;
}

.SurveyPage .survey {
  background-color: #fff;
}

.SurveyPage .submit {
  padding: 10px 30px;
}

.question-title {
  font-size: 20px;
  font-weight: 700;
}
